<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <img src="assets/images/icon_black.png" height="50px" alt="logo" class="logo">
    <a class="navbar-brand ml-lg-5" href="/">Fork & Flavour</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="col nav-link">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                Rezepte
              </button>
              <div ngbDropdownMenu >
                <a ngbDropdownItem class="nav-link" routerLink="/recipe" >Alle Rezepte anzeigen</a>
                <a ngbDropdownItem class="nav-link" routerLink="/recipe/create" >Neue Rezepte erstellen</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="col nav-link ">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn" id="dropdownBasic2" ngbDropdownToggle>
                Rezeptbuch
              </button>
              <div ngbDropdownMenu >
                <a ngbDropdownItem class="nav-link" routerLink="/recipebook" >Alle Rezeptebücher anzeigen</a>
                <a ngbDropdownItem class="nav-link" routerLink="/recipebook/create" >Neues Rezeptbuch erstellen</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <div class="nav-link ">
            <a class="nav-link" routerLink="/disclamer" >Info</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" routerLinkActive="active" role="button">Login</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div ngbDropdown class="d-inline-block" *ngIf="authService.isLoggedIn()">
            <button type="button" class="btn" id="dropdownBasic4" ngbDropdownToggle>
              {{ getUser() }}
            </button>
            <div ngbDropdownMenu >
              <a ngbDropdownItem class="nav-link btn btn-primary btn-lg" routerLink="userpage/{{getUserId()}}">{{getUser()}}</a>
              <a ngbDropdownItem class="nav-link" routerLink="/" (click)="authService.logoutUser()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
