<div class="container p-0">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ingredient">Ingredient</label>
        <app-autocomplete
          id="ingredient"
          name="ingredient"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          valueNeedsToMatchSuggestion="true"
          [(ngModel)]="Ingredient"
          [formatModel]="formatIngredient"
          [suggestions]="ingredientSuggestions"
        ></app-autocomplete>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="amount">Amount</label>
        <input [(ngModel)]="Ingredient.amount" name="amount" type="number" class="form-control" id="amount" placeholder="6">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="unit">Unit</label>
        <input [(ngModel)]="Ingredient.unit" name="unit" type="text" class="form-control" id="unit" placeholder="g">
      </div>
    </div>
  </div>
</div>
