.input-spacing {
    margin-left: 10px;
    width: 50%;
}

.autocomplete-spacing {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper label {
    flex: 0 0 75px;
}