<h1 class="display-1">{{ heading }}</h1>

<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <div class="form-group wrapper">
    <label for="name">Name: </label>
    <input  type="text"
            id="name"
            name="name"
            placeholder="Choose a name"
            [class]="'input-spacing'"
            [(ngModel)]="recipeBook.name"
            #nameModel="ngModel"
            required
          >
    <div class="invalid-feedback">
      Name is required
    </div>
  </div>
  <div class="form-group wrapper">
    <label for="description">Description: </label>
    <textarea id="description"
              class="form-control"
              placeholder="Enter a description for the recipe book"
              [(ngModel)]="recipeBook.description"
              name="description" >
    </textarea>
  </div>

  <div class="form-group wrapper">
    <label for="recipes">Select Recipes: </label>
      <app-autocomplete
        id="recipes"
        name="recipes"
        [(ngModel)]="recipeBook.recipes"
        [class]="'autocomplete-spacing'"
        [suggestions]="recipeSuggestions">
      </app-autocomplete>
  </div>

  <div class="form-group wrapper">
    <label for="users">Select Users: </label>
      <app-autocomplete
        id="users"
        name="users"
        [(ngModel)]="recipeBook.users"
        [class]="'autocomplete-spacing'"
        [suggestions]="userSuggestions">
      </app-autocomplete>
  </div>

  <button type="submit" class="btn btn-primary" [routerLink]="['/recipebook']">{{ submitButtonText }}</button>
</form>

