#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  bottom: 20px; /* Place it at the bottom of the page */
  right: 30px; /* Place it 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--acent-color); /* Blue background */
  color: white; /* White text */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 50px;
  height: 50px;
}

#scrollToTopBtn:hover {
  background-color: var(--tertiary-color); /* Add a dark-grey background on hover */
}
