<div class="jumbotron mt-5">
  <h1 class="display-4" style="text-align:center">Rezeptbücher</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="search-recipe">
        <input class="form-control" type="text" name="search" autocomplete="off"
               [(ngModel)]="bookSearch.name"
               (ngModelChange)="searchChanged()"
               placeholder="Suche">
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-lg-4 p-2" *ngFor="let item of data">
        <app-card [item]="item" [detailUrlPrefix]="'/recipebook/details'"></app-card>
      </div>
      <div class="navigation-bar">
        <button type="button" class="btn btn-link" (click)="loadPreviousPage()" [disabled]="previousButtonDisabled"
                aria-label="zurück">
          <i class="bi bi-arrow-clockwise"></i>
          < Zurück
        </button>
        <select [(ngModel)]="step" (change)="selectedStepChanged()">
          <option *ngFor="let step of steps" value="{{step}}">Show {{ step }} items</option>
        </select>
        <button class="btn btn-link" (click)="loadNextPage()" [disabled]="nextButtonDisabled" aria-label="weiter">
          <i class="bi bi-arrow-clockwise"></i>
          Weiter >
        </button>
      </div>
    </div>
  </div>
</div>
