<div class="jumbotron mt-5">
  <h1 class="display-4" style="text-align:center">Welcome to Fork & Flavour!</h1>
  <hr class="my-4">
  <div class="row">

    <div class="row">
      <div class="col-lg-4 p-2" *ngFor="let item of recipes">
        <app-card [item]="item" [detailUrlPrefix]="'/recipe/details'"></app-card>
      </div>
    </div>
    <div class="navigation-bar">
      <ngb-pagination
        [collectionSize]="totalElements"
        [(page)]="page"
        [pageSize]="size"
        (pageChange)="getRecipes($event)">
      </ngb-pagination>
      <div class="row mb-3">
        <div class="col">
          <label for="pageSize" class="form-label">Page Size:</label>
          <select id="pageSize" class="form-select" [(ngModel)]="size" (change)="onPageSizeChange(size)">
            <option *ngFor="let ps of pageSizes" [value]="ps">{{ ps }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

</div>
