<div class="jumbotron mt-5" *ngIf="recipes.length || recipeBooks.length">
  <div class="container">
    <!-- Top Rezepte -->
    <div class="row mb-3 justify-content-end d-flex align-items-center" *ngIf="recipes.length">
      <h2 class="display-5 mr-2">Top Rezepte:</h2>
      <div class="row">
        <div class="col-lg-4 p-2" *ngFor="let item of recipes; let last = last">
          <app-card [item]="item" *ngIf="!last" [detailUrlPrefix]="'/recipe/details'"></app-card>
          <div class="card RecipeCard h-100 link link1" *ngIf="last" [routerLink]="'/recipe'">
            <div class="card-body d-flex justify-content-center align-items-center">
              <h5 class="card-title flex-grow-1 text-center">Zu allen Rezepten!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <!-- Top Rezeptbücher -->
    <div class="row mb-3 justify-content-end d-flex align-items-center" *ngIf="recipeBooks.length">
      <h2 class="display-5 mr-2">Top Rezeptbücher:</h2>
      <div class="row">
        <div class="col-lg-4 p-2" *ngFor="let item of recipeBooks; let last = last">
          <app-card [item]="item" *ngIf="!last" [detailUrlPrefix]="'/recipebook/details'"></app-card>
          <div class="card RecipeCard h-100 link link2" *ngIf="last" [routerLink]="'/recipebook'">
            <div class="card-body d-flex justify-content-center align-items-center">
              <h5 class="card-title flex-grow-1 text-center">Zu allen Rezeptbüchern!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <!-- Könnte dir auch gefallen -->
    <div class="row mb-3 justify-content-end d-flex align-items-center" *ngIf="recipes.length">
      <h2 class="display-5 mr-2">Könnte dir auch gefallen:</h2>
      <div class="row">
        <div class="col-lg-4 p-2" *ngFor="let item of recommended; let last = last">
          <app-card [item]="item" [detailUrlPrefix]="'/recipe/details'"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
