.container {
  margin: 20px auto;
  max-width: 1000px;
}

table {
  width: 300px;
  margin: auto;
}

p {
  font-size: 18px;
  margin: 40px 10px;
}

.mg {
  width: 150px;
}

span.legend {
  margin: 10px;
  text-align: center;
  display: block;
}
