<br>
<h1>Wie funktioniert Fork & Flavour?</h1>
<div class="container">

  <h2>Nährwerte:</h2>

  <p>Die Genauigkeit der Nährstoffe hängt von den verwendeten Einheiten an.
    Natürlich kann Fork&Flavour nur Zutaten berechnen, die eine Menge und Einheit besitzen.
    Wenn man möglichst genaue Nährwertangaben haben möchte, muss man alle Zutaten in Gramm angeben.
    Für die anderen Mengen wird folgender Umrechnungsfaktor in Gramm verwendet:
  </p>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Menge</th>
      <th scope="col">in Gramm</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1 mg</td>
      <td>0.001 g</td>
    </tr>
    <tr>
      <td>1 kg</td>
      <td>1000 g</td>
    </tr>
    <tr>
      <td>1 L</td>
      <td>1000 g</td>
    </tr>
    <tr>
      <td>1 el</td>
      <td>15 g</td>
    </tr>
    <tr>
      <td>1 tl</td>
      <td>5 g</td>
    </tr>
    <tr>
      <td>1 ml</td>
      <td>1 g</td>
    </tr>
    <tr>
      <td>1 Priese</td>
      <td>0.04 g</td>
    </tr>
    <tr>
      <td>1 Stück</td>
      <td>0 g</td>
    </tr>
    <tr>
      <td>1 Dose</td>
      <td>250 g</td>
    </tr>
    <tr>
      <td>1 Packung</td>
      <td>0 g</td>
    </tr>
    <tr>
      <td>1 Zehe</td>
      <td>2 g</td>
    </tr>
    <tr>
      <td>1 Flasche</td>
      <td>0 g</td>
    </tr>
    <tr>
      <td>1 Becher</td>
      <td>250 g</td>
    </tr>
    <tr>
      <td>1 Tasse</td>
      <td>250 g</td>
    </tr>
    </tbody>
  </table>

  <p>Die Nährwertangaben sind immer pro Portion.</p>

  <h2>Zutaten</h2>
  <p>Die Zutaten existieren in 2 Qualitätsstufen, die meisten beinhalten Allergene und Nährwertinformationen.
    Wenige Zutaten haben Allergene aber keine Nährwertinformationen. Das Fork&Flavour Team qualitätsmanagement Team arbeitet stätig daran die Qualität der Zutatendaten zu verbessern.
    Da unsere Zutaten von der <a href="https://api-ninjas.com/api/nutrition">Nurtition API von API-Ninjas</a> stammen, können wir nicht garantieren, dass alle Zutaten korrekt sind.
    Weiters handelt es sich bei den Zutaten lediglich um Durchnittswerte und nicht um spezifische Sorten. (Joghurt enthält die Durchschnittswerte von Joghurt und nicht von einem spezifischen Lebensmittellieferanten)
    Dadurch besteht keine Garantie auf Richtigkeit.
  </p>

  <h2>Allergene</h2>
  <p>
    Die Allergene werden anhand der Zutaten berechnet. Da bei den Zutaten nicht immer alle Allergene angegeben sind, kann es sein, dass Allergene nicht angezeigt werden aber im Rezept vorhanden sind.
    Bei Allergien bitte eigenständig aufpassen und die Zutatenliste überprüfen.
  </p>

  <h2>Wochenplan</h2>

  <p>
    Aus einem Rezeptbuch kannst du einen Wochenplan erstellen. Der Anfangstag darf nicht in der Vergangenheit liegen und man kann nicht mehr als ein Jahr auf Einmal generieren.
    Um einen Wochenplan erstellen zu müssen muss dein Rezeptbuch mindestens ein Frühstück und eine Hauptspeise beinhalten. Unser Algorithmus versucht dann einen möglichst ausgewogenen
    Essensplan für dich zu erstellen. Dabei versucht er die Nährstoffe möglichst gleichmäßig zu verteilen. Ziel ist es, jeden Tag zwischen folgenden Werten zu bleiben:
  </p>
  <table class="table">
    <thead>
    <tr>
      <th class="col">Nährstoff</th>
      <th class="col">Min</th>
      <th class="col">Max</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Kalorien</td>
      <td>1,900</td>
      <td>2,500</td>
    </tr>
    <tr>
      <td>Cholesterin</td>
      <td>1,200</td>
      <td>3,000</td>
    </tr>
    <tr>
      <td>Ballaststoffe</td>
      <td>20,000</td>
      <td>60,000</td>
    </tr>
    <tr>
      <td>Kohlenhydrate</td>
      <td>200,000</td>
      <td>1,000,000</td>
    </tr>
    <tr>
      <td>Salz</td>
      <td>1,000</td>
      <td>6,000</td>
    </tr>
    <tr>
      <td>Fett total</td>
      <td>10,000</td>
      <td>80,000</td>
    </tr>
    <tr>
      <td>Eiweiß</td>
      <td>55,000</td>
      <td>120,000</td>
    </tr>
    </tbody>
  </table>
  <span class="legend">Werte in mg</span>

  <p>
    Sobald du einen neuen Zeitraum im Wochenplaner generierst arbeitet unser Algorithmus im Hintergrund daran dir einen möglichst ausgewogenen Plan zu erstellen.
    Das kann je nach Anzahl der Tage und Anzahl der Rezepte etwas länger dauern. Nach dem generieren kannst du dich also auf etwas anderes konzentrieren.
    Wir schicken dir ein Email sobald dein Wochenplan fertig ist.
  </p>

</div>
