.autocomplete-spacing {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%
}

.desc {
  width: 100%;
}

.paperbin {
  text-align: right;
}

.paperbin-wrapper {
  height: 60vh;
}

.submit {
  display: flex;
  justify-content: flex-end;
}
