<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
    <div class="container mt-5">
      <h1 class="text-center mb-4">Recipe Editor</h1>
      <div class="row">
        <div class="col-md-6 border">
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="recipe.name" name="name" type="text" class="form-control" id="name" placeholder="Enter Name" required (ngModelChange)="validateForm()">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="numberOfServings">Servings</label>
                    <input [(ngModel)]="recipe.numberOfServings" name="numberOfServings"  type="number" class="form-control" id="numberOfServings" placeholder="1" min="1" (ngModelChange)="validateForm()">
                  </div>
                </div>
              </div>
          <div class="col-md-12 p-1">
            <div class="form-group">
              <label for="description">Description</label>
              <input [(ngModel)]="recipe.description" name="description" type="text" class="form-control" id="description" placeholder="Enter description" required (ngModelChange)="validateForm()">
            </div>
          </div>
          <div class="col-md-12 p-1 border" >
            <div class="row">
              <div class="col-md-8 overflow-auto ings">
                <div class="col-md-12" *ngFor="let inneringredient of recipe.ingredients; let i = index">
                  <div class="d-flex align-items-center">
                    <app-ingredient
                      (ingredientChange)="ingredientChangeHandler($event, i)"
                      [(ingredient)]="recipe.ingredients[i]">
                    </app-ingredient>
                    <button type="button" class="btn btn-light ms-2" (click)="removeIngredient(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 overflow-auto ings">
                <div class="col-md-12" *ngFor="let incategory of recipe.categories; let i = index">
                  <div class="form-group">
                    <label for="incategory{{i}}">Category</label>
                    <div class="d-flex align-items-center">
                      <app-autocomplete
                        id="incategory{{i}}"
                        name="incategory{{i}}"
                        class="col-md-10 col-lg-8"
                        textInputClass="form-control"
                        valueNeedsToMatchSuggestion="true"
                        [(ngModel)]="recipe.categories[i]"
                        [formatModel]="formatCategory"
                        [suggestions]="categorySuggestions"
                        (ngModelChange)="categorychanged(i)">
                      </app-autocomplete>
                      <button type="button" class="btn btn-light ms-2" (click)="removeCategory(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 border overflow-auto paperbin-wrapper">
          <div *ngFor="let step of recipe.recipeSteps; let i = index">
            <div id="fullrecipestep{{i}}">
              <div class="form-group">
                <label for="stepname{{i}}">Step-Name</label>
                <div class="d-flex">
                  <input type="text" class="form-control me-2" id="stepname{{i}}"
                         [attr.placeholder]="step.whichstep === true || step.whichstep === null ? 'Enter Recipe Name' : 'This step is an own recipe. Select a recipe below'"
                         [(ngModel)]="step.name" name="stepname{{i}}"
                         [readonly]="step.whichstep === false" (ngModelChange)="validateForm()"
                         [value]="step.whichstep === false ? step.recipename : step.name">
                  <button type="button" class="btn btn-light ms-2" (click)="removeStep(i)"
                          >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="form-group"
                     [ngClass]="recipe.recipeSteps[i].whichstep === null ? 'col-md-9' : 'col-md-12'"
                     *ngIf="recipe.recipeSteps[i].whichstep === null ? true : recipe.recipeSteps[i].whichstep"
                >
                  <label for="instructions{{i}}">Instructions</label>
                  <textarea
                    [(ngModel)]="step.description"
                    (ngModelChange)="textareachange(i)"
                    name="instructions{{i}}"
                    id="instructions{{i}}"
                    class="form-control"
                    rows="5"
                    placeholder="Enter instructions"
                    (ngModelChange)="validateForm()"
                  ></textarea>
                </div>

                <div class="form-group"
                     [ngClass]="recipe.recipeSteps[i].whichstep === null ? 'col-md-3' : 'col-md-12'"
                     *ngIf="recipe.recipeSteps[i].whichstep === null ? true : !recipe.recipeSteps[i].whichstep">
                  <label for="recipestep{{i}}">Recipe Instruction</label>
                  <app-autocomplete
                    id="recipestep{{i}}"
                    name="recipestep{{i}}"
                    class="col-md-10 col-lg-8"
                    textInputClass="form-control"
                    valueNeedsToMatchSuggestion="true"
                    [(ngModel)]="recipe.recipeSteps[i]"
                    [formatModel]="formatRecipeStep"
                    [suggestions]="recipeStepSuggestions"
                    (ngModelChange)="stepchanged(i)"
                  ></app-autocomplete>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cbutton">
          <button [disabled]="returnIsSubmitDisabled()" type="submit" (click)="clickSubmit()" class="btn btn-primary"> Speichern</button>
        </div>

      </div>
    </div>
  </form>
