<form class="create-height" #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Wochenplaner Erstellen</h1>
    <div class="createContainer row">
      <table>
        <thead>
          <th class="day-header">Rezeptbuch:</th>
        </thead>
        <tbody>
          <td>
            {{ currentRecipeBook.name }}
          </td>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>
              <label class="col-form-label">
                Von:
              </label>
            </th>
            <th>
              <label class="col-form-label">
                Bis:
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <td>
            <input type="date" id="fromDate" name="fromDate"
                   pattern="\d{4}-\d{2}-\d{2}"
                   placeholder="yyyy-mm-dd"
                   class="form-control"
                   [(ngModel)]="fromDate"
            >
          </td>
        <td>
          <input type="date" id="toDate" name="toDate"
                 pattern="\d{4}-\d{2}-\d{2}"
                 placeholder="yyyy-mm-dd"
                 class="form-control"
                 [(ngModel)]="toDate"
          >
        </td>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <th class="day-header">Tag</th>
            <th class="meal-header">Frühstück</th>
            <th class="meal-header">Mittagessen</th>
            <th class="meal-header">Abendessen</th>
          </tr>
          <tr *ngFor="let day of weekdays" class="line">
            <td class="day">{{day.weekday}}</td>
            <td><input type="checkbox" (change)="onCheckboxChange($event, day, Daytime.Breakfast)"></td>
            <td><input type="checkbox" (change)="onCheckboxChange($event, day, Daytime.Lunch)"></td>
            <td><input type="checkbox" (change)="onCheckboxChange($event, day, Daytime.Dinner)"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Erstellen</button>
    </div>
  </div>
</form>
