<div class="jumbotron mt-5">
  <div>
    <div class="rcp-d">
      <h1 class="display-4" *ngIf="!recipe.isDraft">{{ recipe.name }}</h1>
      <h1 class="display-4" *ngIf="recipe.isDraft">{{ recipe.name }} (Template)</h1>
    </div>
  </div>
  <ng-template #spoonRecipeModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Spoon</h5>
      <button type="button" class="btn close-button" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Add {{ recipe.name }} to:</p>
      <div class="col-lg-6 mb-2">
        <app-autocomplete
          name="recipeBookSelection"
          textInputClass="form-control"
          [suggestions]="recipeBookSuggestions"
          [formatModel]="formatRecipeBook"
          valueNeedsToMatchSuggestion="true"
          [(ngModel)]="dummyRecipeBookSelectionModel"
          (ngModelChange)="selectRecipeBook($event)"
        >
        </app-autocomplete>
      </div>
    </div>
    <div class="modal-footer">
      <form (ngSubmit)="spoon(spoonForm)" #spoonForm="ngForm">
        <button type="button" (click)="spoon(spoonForm)" id="spn-rcp" class="btn btn-success float-right"
                *ngIf="currentRecipeBook">Rezept Spoonen
        </button>
      </form>
      <button type="button" class="btn btn-secondary" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>
  <br>
  <div class="RecipeInfos">
    <div class="info-box info-box-1">
      <h4>Bewertung:</h4>
      <app-star-rating [disabled]="true" [value]="recipe.rating"></app-star-rating>
    </div>
    <div class="info-box info-box-2">
      <h4>Portionen:</h4>
      {{ recipe.numberOfServings }}
    </div>
    <div class="info-box info-box-3" *ngIf="isCategoriesNotEmpty()">
      <h4>Kategorien:</h4>
      <div *ngFor="let category of recipe.categories">
        {{ category.name }}
      </div>
    </div>
    <div class="info-box info-box-4">
      <h4>Allergene: </h4>
      <div>
        <span *ngFor="let allergen of recipe.allergens; let isLast=last">
           {{ allergen.name }}{{ isLast ? '' : ', ' }}
        </span>
      </div>
      <div *ngIf="recipe.allergens.length === 0">
        none
      </div>
    </div>
    <div class="info-box info-box-5 clickable" *ngIf="screenWidth <= 767"
         style="box-shadow: 0 0 10px rgba(111, 66, 193, 0); background-color: rgba(111, 66, 193, 1);"
         (click)="toggleNutrition()">
      <h4>Nährwerte:</h4>
      Click to Show
    </div>
    <div class="info-box" style="box-shadow: 0 0 10px rgba(0,0,0,0.1); background-color: var(--acent-color);"
         *ngIf="isForkedFromRecipe()">
      <h4>Geforkt von:</h4>
      <div>
        <span *ngFor="let forkedFrom of recipeForkedFrom; let isLast=last">
           {{ recipeForkedFrom }}{{ isLast ? '' : ', ' }}
        </span>
      </div>
    </div>
  </div>


  <div class="columns">
    <div *ngIf="screenWidth <= 767 && showNutrition">
      <h4>Nährwerte:</h4>
      <table class="table">
        <tbody>
        <tr *ngFor="let nutrition of recipe.nutritions">
          <td>{{ nutrition.name }}</td>
          <td>{{ nutrition.value }} {{ nutrition.unit }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ing-desc">
    <!-- Ingredients and Description Section -->
    <div class="columns">
      <h4>Zutaten:</h4>
      <table class="table">
        <tbody>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.amount }} {{ ingredient.unit }}</td>
        </tr>
        </tbody>
      </table>
      <h4>Beschreibung:</h4>
      <p>{{ recipe.description }}</p>
    </div>
    <div class="edit-spoon">
    </div>

    <!-- Nutrition Section -->
    <div class="columns">
      <div *ngIf="screenWidth > 767">
        <h4>Nährwerte:</h4>
        <table class="table">
          <tbody>
          <tr *ngFor="let nutrition of recipe.nutritions">
            <td>{{ nutrition.name }}</td>
            <td>{{ nutrition.value }} {{ nutrition.unit }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h2>Schritte:</h2>

  <div class="recipe-steps">
    <ng-container *ngFor="let step of recipeSteps">
      <div [ngClass]="{'recipe-step': true, 'sub-recipe': step.recipe}">
        <h4 (click)="step.recipe && toggleStep(step)" class="rec-step">
          <span *ngIf="step.recipe">
            <img src="assets/images/icon_black.png" height="25px" alt="subrecepy" class="subrecepy-icon">
          </span>
          {{ step.name }}
        </h4>
        <p *ngIf="!step.recipe">{{ step.description }}</p>
        <div *ngIf="step.recipe && step.expanded">
          <ng-container *ngFor="let subStep of step.recipe.recipeSteps">
            <div class="recipe-step">
              <h5>{{ subStep.name }}</h5>
              <p>{{ subStep.description }}</p>
            </div>
          </ng-container>
        </div>
        <button *ngIf="step.recipe && step.expanded" type="button" class="btn btn-primary btn-sm"
                (click)="navigateToDetailsInNewTab(step.recipe.id)">zum Unterrezept
        </button>
      </div>
    </ng-container>
    <div style="text-align: right;position: relative; margin: 30px">
      <button *ngIf="isOwner" type="button" class="btn btn-primary btn-sm" (click)="editRecipe()"
              style="margin-right: 10px;">Rezept bearbeiten
      </button>
      <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openSpoonModal(spoonRecipeModal)"
              style="margin-right: 10px;">Rezept spoonen
      </button>
      <button *ngIf="!areRatingsLoaded" type="button" class="btn btn-secondary btn-sm" (click)="loadRatings()"
              style="margin-right: 10px;">Load Ratings
      </button>
      <button *ngIf="!isRatingDialogShown" type="button" class="btn btn-secondary btn-sm"
              (click)="updateIsRatingDialogShown()">Rate Recipe
      </button>
    </div>
  </div>
  <div>
    <form *ngIf="isRatingDialogShown" #form="ngForm" [class.was-validated]="form.submitted"
          (ngSubmit)="onSubmitRating(form)">
      <div class="container mt-5">
        <h4 class="text-center mb-4">Rate Recipe</h4>
        <div class="form-group">
          <label>Taste*:</label>
          <app-star-rating name="tasteSelection"
                          (valueEvent)="selectTaste($event)"></app-star-rating>
        </div>
        <div class="form-group">
          <label>Cost*:</label>
          <app-star-rating name="costSelection"
                           (valueEvent)="selectCost($event)"></app-star-rating>
        </div>
        <div class="form-group">
          <label>Ease of preparation*:</label>
          <app-star-rating name="easeOfPrepSelection"
                           (valueEvent)="selectEaseOfPrep($event)"></app-star-rating>
        </div>
        <div class="col-md-12 p-1">
          <div class="form-group">
            <label>Review*</label>
            <input [(ngModel)]="rating.review" name="review" type="text" class="form-control" id="description" required>
          </div>
        </div>
        <div class="cbutton">
          <button type="submit" class="btn btn-primary">Rate Recipe</button>
        </div>

      </div>
    </form>
  </div>
  <div>
    <ng-container *ngIf="ratings.length > 0 && areRatingsLoaded">
      <div *ngFor="let rating of ratings">
        <div>
          <p>{{ rating.user.name }}</p>
          <p>cost:
            <app-star-rating [disabled]="true" [value]="rating.cost"></app-star-rating>
          </p>
          <p>taste:
            <app-star-rating [disabled]="true" [value]="rating.taste"></app-star-rating>
          </p>
          <p>ease of preparation:
            <app-star-rating [disabled]="true" [value]="rating.easeOfPrep"></app-star-rating>
          </p>
          <p>{{ rating.review }}</p>
        </div>
      </div>

    </ng-container>
    <div *ngIf="ratings.length === 0 && areRatingsLoaded">
      <p>There are no Ratings available for this Recipe</p>
    </div>
  </div>
</div>
