<div class="jumbotron mt-5">
  <h1 class="display-4 text-center mb-5">{{ recipeBook.name }}</h1>
  <div class="RecipeInfos">
    <div class="info-box">
      <h4>Beschreibung:</h4>
      <p>{{ recipeBook.description }}</p>
    </div>
    <div class="info-box" >
      <h4 class="fs-4">Besitzer:</h4>
      <div>
        <span (click)="openUserPage()">{{ recipeBook.owner.name }}</span>
      </div>
    </div>
    <div class="info-box" *ngIf="recipeBook.users.length !== 0">
      <h4 class="fs-4" *ngIf="recipeBook.users.length !== 0">Bearbeiter:</h4>
      <div class="list-style-none" *ngIf="recipeBook.users.length !== 0">
    <span *ngFor="let user of recipeBook.users; let i = index">
      <span [routerLink]="['/userpage', user.id]">{{ user.name }}</span><span *ngIf="i < recipeBook.users.length - 1">, </span>
    </span>
      </div>
    </div>
  </div>
  <h4 class="mt-4">Rezepte:</h4>
  <div class="row">
    <div class="col-lg-4 p-2" *ngFor="let item of recipeBook.recipes">
      <app-card [item]="item" [detailUrlPrefix]="'/recipe/details'"></app-card>
    </div>
  </div>
</div>
<app-floating-menu [options]="menuOptions"></app-floating-menu>
