<div class="jumbotron mt-5">
  <h1 class="display-4 text-center mb-5">{{ recipeBook.name }}</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>Description:</h4>
      <p>{{ recipeBook.description }}</p>

      <h4 class="mt-4">Recipes:</h4>
      <table class="table">
        <tbody>
        <tr *ngFor="let recipe of recipeBook.recipes">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
          <td>
            <button class="btn btn-primary btn-sm"
                    [routerLink]="['/recipe/details', recipe.id]">
              Go to recipe
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2" >
      <p class="fs-4">Owner:</p>
      <ul>
        <li><a (click)="openUserPage()" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ recipeBook.owner.name }}</a></li>
      </ul>
      <p class="fs-4">Contributors:</p>
      <ul class="list-style-none " *ngFor="let users of recipeBook.users">
        <li class="mb-2" [routerLink]="['/userpage', users.id]"><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ users.name }}</a></li>
      </ul>
    </div>
  </div>
</div>
