<div class="jumbotron mt-5">
  <h1 class="display-4">Rezepte</h1>
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="search-recipe flex-grow-1 mb-2 mr-2">
          <input class="form-control" type="text" name="search" autocomplete="off"
                 [(ngModel)]="recipeSearch.name"
                 (ngModelChange)="searchChanged()"
                 placeholder="Suche nach Rezepte">
        </div>
        <div class="mb-2">
          <label for="pageSize" class=""></label>
          <select id="pageSize" class="form-control d-inline w-auto" [(ngModel)]="size"
                  (change)="onPageSizeChange($event)">
            <option *ngFor="let s of pageSizes" [value]="s">{{ s }}</option>
          </select>
        </div>
        <div class="mb-2 categoryinput">
          <label for="inputcategory" class=""></label>
          <select id="inputcategory" class="form-control d-inline w-auto" [(ngModel)]="recipeSearch.categoryId"
                  (click)="showAllCategories()" (change)="categoryChanged()">
            <option value="0">All</option>
            <option *ngFor="let category of show.category" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
      <div class="sub-inner-height overflow-auto mb-2">
        <div *ngFor="let incategory of recipe.categories; let i = index">
          <div class="container col-md-12 col-12 align-self-center justify-content-center gx-0 gx-lg-2 gy-1 row my-2">
            <div class="col-lg-8 col-sm-12 col-8 align-self-center">
              <input class="form-control"
                     type="text"
                     name="search"
                     id="categorie"
                     [(ngModel)]="incategory.name"
                     disabled
              >
            </div>
            <div class="col-lg-4 col-sm-12 col-4 align-self-center d-flex justify-content-center">
              <button type="button" (click)="deletecategory(i)" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col-lg-4 p-2" *ngFor="let item of pagedData" (click)="detail(item.id)">
      <app-card [item]="item" [detailUrlPrefix]="'/recipe/details'"></app-card>
    </div>
  </div>
  <div class="navigation-bar">
    <ngb-pagination
      [collectionSize]="totalElements"
      [(page)]="page"
      [pageSize]="size"
      (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>
</div>
