/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}
.slick-prev,
.slick-next {
  background: black !important;
  border-radius: 50% !important;
  padding: 0.1rem 0rem 0rem 0rem !important;
}

