:root {
  --primary-color: #2C73D2;
  --secondary-color: #0089BA;
  --tertiary-color: #008F7A;
  --quaternary-color: #FFC75F;
  --quinary-color: #FF9671;
  --acent-color: #845EC2;
  --bcent-color: #D65DB1;
  --box-1: #2C73D2;
  --box-2: #0081CF;
  --box-3: #0089BA;
  --box-4: #008E9B;
  --box-5: #008F7A;
  --box-6: #008F2F;
}

body {
  background-color: whitesmoke;
}

h1, h2 {
  text-align: center;
}

.slick-prev,
.slick-next {
  background: black !important;
  border-radius: 50% !important;
  padding: 0.1rem 0rem 0rem 0rem !important;
}

.RecipeInfos {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.RecipeInfos .info-box {
  flex: 1 1 18%;
  text-align: center;
  padding: 20px 10px;
  width: 18%;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 1%;
  max-width: 350px;
  min-width: 120px;
  box-sizing: border-box;
}

.info-box-1 {
  background-color: var(--box-2);
}

.info-box-2 {
  background-color: var(--box-3);
}

.info-box-3 {
  background-color: var(--box-4);
}

.info-box-4 {
  background-color: var(--box-5);
}

.info-box-5 {
  background-color: var(--acent-color);
}

.info-box-6 {
  background-color: var(--box-6);
}

.step-box-1 {
  box-shadow: 0px 0px 10px var(--box-2);
  background-color: var(--box-2);
  border: var(--box-2);
  border-radius: var(--bs-border-radius);
}

.step-box-2 {
  box-shadow: 0px 0px 10px var(--box-3);
  background-color: var(--box-3);
  border: var(--box-3);
  border-radius: var(--bs-border-radius);
}

.step-box-3 {
  box-shadow: 0px 0px 10px var(--box-4);
  background-color: var(--box-4);
  border: var(--box-4);
  border-radius: var(--bs-border-radius);
}

.step-box-4 {
  box-shadow: 0px 0px 10px var(--box-5);
  background-color: var(--box-5);
  border: var(--box-5);
  border-radius: var(--bs-border-radius);
}

.step-box-5 {
  box-shadow: 0px 0px 10px var(--acent-color);
  background-color: var(--acent-color);
  border: var(--acent-color);
  border-radius: var(--bs-border-radius);
}

.step-box-6 {
  box-shadow: 0px 0px 10px var(--box-4);
  background-color: var(--box-3);
  border: var(--box-6);
  border-radius: var(--bs-border-radius);
}

@media (max-width: 767px) {
  .RecipeInfos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .RecipeInfos .info-box {
    flex: 1 0 18%;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 40px;
    max-width: 100%;
  }

  .RecipeInfos .info-box h4 {
    margin-right: 1em;
  }
}

.recipe-step {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 10px 0px 10px;
  border: 2px solid var(--tertiary-color);
}

.sub-recipe {
  border: 3px solid var(--acent-color);
  cursor: pointer;
  padding: 20px 20px;
}

#pageSize {
  width: 60px;
  margin: 1px;
}

label[for="pageSize"] {
  margin: 1px 10px;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.RecipeCard {
  cursor: pointer;
}

.RecipeCard:hover {
  background-color: #f0f0f0;
}

.RecipeCard.link1 {
  background-color: var(--secondary-color);
}

.RecipeCard.link2 {
  background-color: var(--secondary-color);
}

.RecipeCard.link {
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  border: none;
  opacity: 90%;
}

.info-box .number {
  font-size: 2em;
  margin-bottom: 0;
}

.RecipeCard.link:hover {
  background-color: var(--acent-color);
}

.pointer {
  cursor: pointer;
}

button.login {
  background-color: var(--primary-color);
  color: white;
}

button.reset-password {
  background-color: var(--secondary-color);
  color: white;
}

button.register {
  background-color: var(--tertiary-color);
  color: white;
}

button:hover {
  opacity: 90%;
}

button {
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.ratings-container {
  padding: 20px;
}

.ratings-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rating-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: calc(33% - 20px);
  box-sizing: border-box;
  margin: 5px;
}

.rating-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.user-name {
  font-size: 1.2em;
  margin: 0;
}

.rating-details p {
  margin: 4px 0;
}

.review {
  margin-top: 12px;
  font-style: italic;
  color: #555;
}

@media (max-width: 768px) {
  .rating-box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .rating-box {
    width: 100%;
  }
}

.add-rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.rating.modal-body div {
  margin: 10px 0;
  font-size: 18px;
}

button.btn-success, button.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

button.btn-success:hover, button.btn-primary:hover {
  background-color: var(--acent-color);
  border-color: var(--acent-color);
  color: white;
}
