<div class="jumbotron mt-5">
  <div>
    <div class="rcp-d">
      <h1 class="display-4">{{ user.name }}</h1>
    </div>
  </div>
  <br>
  <div class="RecipeInfos">
    <div class="info-box info-box-1">
      <h4>Rezepte:</h4>
      <p class="number">{{recipes.length}}</p>
    </div>
    <div class="info-box info-box-2">
      <h4>Rezeptbücher:</h4>
      <p class="number">{{recipeBook.length}}</p>
    </div>
    <div class="info-box info-box-3">
      <h4>Badges:</h4>
      <p>abc, abc, abc</p>
    </div>
  </div>

  <br>
  <div class="row mb-3 justify-content-center d-flex align-items-center" *ngIf="recipes.length">
    <h2 class="display-6 ">Rezepte:</h2>
    <div class="row">
      <div class="col-lg-4 p-2" *ngFor="let recipe of recipes">
        <app-card [item]="recipe" [detailUrlPrefix]="'/recipe/details'"></app-card>
      </div>
    </div>
  </div>

  <br>
  <div class="row mb-3 justify-content-center d-flex align-items-center" *ngIf="recipeBook.length">
    <h2 class="display-6 ">Rezeptbücher:</h2>
    <div class="row">
      <div class="col-lg-4 p-2" *ngFor="let recipe of recipeBook">
        <app-card [item]="recipe" [detailUrlPrefix]="'/recipe/details'"></app-card>
      </div>
    </div>
  </div>

  <br>
  <div class="row mb-3 justify-content-center d-flex align-items-center" *ngIf="ratings.length">
    <h2 class="display-6 ">Bewertungen:</h2>
    <div class="ratings-wrapper">
      <div *ngFor="let rating of ratings" class="rating-box" (click)="goToRecipeDetails(rating.recipeId)">
        <div class="rating-header">
          <p class="user-name">{{ rating.name }}</p>
        </div>
        <div class="rating-details">
          <p>Geschmack:
            <app-star-rating [disabled]="true" [value]="rating.taste"></app-star-rating>
          </p>
          <p>Einfachheit:
            <app-star-rating [disabled]="true" [value]="rating.easeOfPrep"></app-star-rating>
          </p>
          <p>Kosten:
            <app-star-rating [disabled]="true" [value]="rating.cost"></app-star-rating>
          </p>
          <p class="review">{{ rating.review }}</p>
        </div>
      </div>
    </div>
  </div>

</div>


<app-floating-menu *ngIf="isMyPage" [options]="menuOptions"></app-floating-menu>
