<div class="jumbotron mt-5">
  <div class="row">
    <div class="col-6 col-md-4">
      <div>
        <h1>{{ user.name }}</h1>
        <button *ngIf="isMyPage" class="btn btn-light btn-lg " routerLink="/userpage/{{user.id}}/edit">
          <i class="bi bi-pencil-fill"></i>  Edit profile
        </button>
        <h5 class="h5 mb-3 margin-top-5"><i class="bi bi-book"></i> {{ recipeBook.length }} RecipeBooks</h5>
        <h5 class="h5 mb-3 margin-top-5"><i class="bi bi-receipt"></i> {{ recipes.length }} Recipes</h5>
      </div>
      <div class="border-top">
        <h2 class="h2 mb-3 margin-top-5"><p>Badges</p></h2>
        <ul>
          <h5 *ngFor="let r of role"><i class="bi bi-gem"></i> {{ r }}</h5>
        </ul>
      </div>
      <div class="border-top">
        <h2 class="h2 mb-3 margin-top-5">latest Reviews</h2>
        <p></p>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <h4 class="mt-4" *ngIf="recipeBook.length !== 0">Recipe books:</h4>
      <table class="table">
        <tbody>
        <tr *ngFor="let recipe of recipeBook">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
          <td>
            <button class="btn btn-primary btn-sm"
                    [routerLink]="['/recipebook/details', recipe.id]">
              Go to recipe book
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <h4 class="mt-4" *ngIf="recipes.length !== 0">Recipes:</h4>
      <table class="table">
        <tbody>
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
          <td>
            <button class="btn btn-primary btn-sm"
                    [routerLink]="['/recipe/details', recipe.id]">
              Go to recipe
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
