<form class="create-height" #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
  <div class="container mt-5">
    <h1 class="text-center mb-4" *ngIf="mode==='create'">Rezept Erstellung</h1>
    <h1 class="text-center mb-4" *ngIf="mode==='edit'">Rezept Bearbeitung</h1>
    <h1 class="text-center mb-4" *ngIf="mode==='fork'">Rezept Forken</h1>
    <div class="row rec-create">
      <div class="col-md-6 border inner-create-height">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]="recipe.name" name="name" type="text" class="form-control" id="name"
                     placeholder="Wraps de mi abuela" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="servings">Portionen</label>
              <input [(ngModel)]="recipe.numberOfServings" name="servings" type="number" class="form-control" id="servings"
                     placeholder="6" required>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Beschreibung</label>
            <input [(ngModel)]="recipe.description" name="description" type="text" class="form-control" id="description"
                   placeholder="Dies sind die besten Wraps meiner Oma. Wir aßen sie immer im jardín!" required>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div ngbDropdown>
                <label for="inputingredient">Zutaten</label>
                <input name="inputingredient" id="inputingredient" type="text" [(ngModel)]="input.ingredient"
                       (ngModelChange)="ingredientChanged()" class="form-control col-md-12 " ngbDropdownToggle>
                <div ngbDropdownMenu aria-labelledby="inputingredient" class="col-md-12 overflow-auto">
                  <a ngbDropdownItem (click)="selectingredient(ingredient)"
                     *ngFor="let ingredient of show.ingredients">{{ ingredient.name }}</a>
                </div>
              </div>
              <div class="sub-inner-height overflow-auto">
                <div *ngFor="let inneringredient of recipe.ingredients; let i = index">
                  <app-ingredient
                    [(ingredient)]="recipe.ingredients[i]"
                    [units]="possible.units"
                    (deleteingredientCall)="deleteingredient(i)">
                  </app-ingredient>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div ngbDropdown>
                <label for="inputcategory">Kategorien</label>
                <input name="inputcategory" id="inputcategory" type="text" [(ngModel)]="input.category"
                       (ngModelChange)="categoryChanged()" class="form-control col-md-12" ngbDropdownToggle>
                <div ngbDropdownMenu aria-labelledby="inputcategory" class="col-md-12 overflow-auto">
                  <a ngbDropdownItem (click)="selectcategory(category)"
                     *ngFor="let category of show.category">{{ category.name }}</a>
                </div>
              </div>
              <div class="sub-inner-height overflow-auto">
                <div *ngFor="let incategory of recipe.categories; let i = index">
                  <div class="container col-md-12 col-12 align-self-center justify-content-center gx-0 gx-lg-2 gy-1 row my-2">
                    <div class="col-lg-8 col-sm-12 col-8 align-self-center">
                      <input required [(ngModel)]="this.recipe.categories[i].name" name="ingredient{{i}}" type="text"
                             class="form-control"
                             id="ingredient{{i}}" disabled>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-4 align-self-center d-flex justify-content-center">
                      <button type="button" (click)="deletecategory(i)" class=" btn btn-danger"><i
                        class="bi bi-trash3-fill"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 border overflow-auto inner-create-height">

        <div class="col-md-12 d-flex justify-content-around mt-3">
          <button (click)="addRecipeStep()" type='button' class="btn btn-outline-primary p-2">Füge Rezept-Schritt hinzu</button>
          <button (click)="addDescriptioneStep()" type='button' class="btn btn-outline-primary p-2">Füge Beschreibungs-Schritt hinzu
          </button>
        </div>
        <div class="row m-2 p-1 g-1" [ngClass]="this.recipe.recipeSteps[i].whichstep ? 'recipe-step' : 'sub-recipe'"
             *ngFor="let step of recipe.recipeSteps; let i = index">
          <div  class="col-lg-10 col-9 " id="fullrecipestep{{i}}">
            <div class="form-group">
              <label for="stepname{{i}}">Schritt-Name</label>
              <input required type="text" class="form-control" id="stepname{{i}}" placeholder="Enter Name"
                     [(ngModel)]="recipe.recipeSteps[i].name" name="stepname{{i}}">
            </div>
            <div class="row">
              <div class="form-group"
                   [ngClass]="recipe.recipeSteps[i].whichstep === null ? 'col-md-9' : 'col-md-12'"
                   *ngIf="recipe.recipeSteps[i].whichstep === null ? true : recipe.recipeSteps[i].whichstep">
                <label for="instructions{{i}}">Anweisungen</label>
                <textarea
                  [(ngModel)]="recipe.recipeSteps[i].description"
                  name="instructions{{i}}"
                  id="instructions{{i}}"
                  class="form-control"
                  rows="5" placeholder="Enter instructions"
                  required
                ></textarea>
              </div>
              <div class="form-group"
                   [ngClass]="recipe.recipeSteps[i].whichstep === null ? 'col-md-3' : 'col-md-12'"
                   *ngIf="recipe.recipeSteps[i].whichstep === null ? true : !recipe.recipeSteps[i].whichstep">
                <div ngbDropdown class="col-md-12">
                  <label for="inputrecipestep{{i}}" required>Rezept</label>
                  <input name="inputrecipestep{{i}}" id="inputrecipestep{{i}}" type="text"
                         [(ngModel)]="this.input.recipestep[i]" (ngModelChange)="recipestepChanged(i)"
                         class="form-control col-md-12" ngbDropdownToggle>
                  <div ngbDropdownMenu aria-labelledby="inputrecipestep" class="col-md-12 overflow-auto">
                    <a ngbDropdownItem (click)="selectrecipestep(recipestep,i)"
                       *ngFor="let recipestep of show.recipestep">{{ recipestep.recipename }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-3 d-flex flex-column justify-content-center align-content-center">
            <button type="button" [disabled]="i === 0" (click)="stepup(i)" data-bs-toggle="button"
                    class="m-2 btn btn-light"><i class="bi bi-caret-up-fill"></i></button>
            <button type="button" (click)="stepdel(i)" class="m-2 btn btn-danger"><i class="bi bi-trash3-fill"></i>
            </button>
            <button type="button" [disabled]="i === this.recipe.recipeSteps.length-1" (click)="stepdown(i)"
                    class="m-2 btn btn-light"><i class="bi bi-caret-down-fill"></i></button>
          </div>
        </div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary" *ngIf="mode==='create'">Erstellen</button>
        <button type="submit" class="btn btn-primary" *ngIf="mode==='edit'">Bearbeiten</button>
        <button type="submit" class="btn btn-primary" *ngIf="mode==='fork'">Forken</button>
      </div>

    </div>
  </div>
</form>
