.cbutton{
  position: absolute;
  top: 145px;
}

@media only screen and (max-width : 768px) {
  .cbutton {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

}

.ings {
  height: 40vh;
}

.stepsh {
  height: 60vh;
}

