<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
<div class="container mt-5">
  <h1 class="text-center mb-4">Recipe Creator</h1>
  <div class="row">
    <div class="col-md-6">
        <div class="container p-0">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Wraps de mi abuela">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="servings">Servings</label>
                <input type="number" class="form-control" id="servings" placeholder="6">
              </div>
            </div>
          </div>
        </div>


      <div *ngFor="let inneringredient of recipe.ingredients;let index = index">
        <app-ingredient (ingredientChange)="ingredientchange()" [(ingredient)]="recipe.ingredients[index]"></app-ingredient>
      </div>


      <div class="container m-5">
        <button type="submit" class="btn btn-primary">Create Recipe</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea class="form-control" id="instructions" rows="5" placeholder="Enter instructions"></textarea>
      </div>
    </div>
  </div>
</div>
</form>
