.create-height{
  min-height: 80vh;
  max-height: 90vh;
}

.inner-create-height{
  height: 70vh;
}

.sub-inner-height{
  height: 45vh !important;
}

@media (max-width: 768px) {
  .sub-inner-height{
    height: 20vh !important;
  }
  .inner-create-height{
    height: 80vh;
  }
}
